.button {
  font-size: 32px;
  cursor: pointer;
  box-shadow: 0px 2px 3px rgba(69, 90, 100, 0.2);
  border: none;
  border-radius: 6px;
}

.default {
  color: #3f3f3f;
  background-color: #e0e0e0;
}

.default:hover,
.default:focus {
  background-color: #aeaeae;
}

.primary {
  color: #fff;
  background-color: #2962ff;
}

.primary:hover,
.primary:focus {
  background-color: #0039cb;
}

.secondary {
  color: #fff;
  background-color: #455a64;
}

.secondary:hover,
.secondary:focus {
  background-color: #1c313a;
}

.danger {
  color: #fff;
  background-color: #d32f2f;
}

.danger:hover,
.danger:focus {
  background-color: #9a0007;
}
